@tailwind base;
@tailwind components;
@tailwind utilities;

/* Oculta a barra de rolagem vertical */
.scroll-container::-webkit-scrollbar {
  width: 0;
}

/* Oculta a alça da barra de rolagem vertical */
.scroll-container::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Define a largura da trilha da barra de rolagem para zero para ocultar a trilha */
.scroll-container::-webkit-scrollbar-track {
  background: transparent;
  width: 0;
}
